body {
  margin: 0;
  padding: 0;
  background-color: hsl(60, 90%, 75%);
}

.title {
  text-align: center;
  font-size: xx-large;
  font-weight: bold;
  padding: 40px 0;
  color: hsl(210, 80%, 30%);
}

.controls {
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 40px;
}

.clear {
  font-size: medium;
  padding: 5px 15px;
  border-radius: 5px;
  color: hsl(210, 80%, 30%);
  background-color: hsl(210, 50%, 90%);
}

.grid-container {
  padding-bottom: 40px;
}

.grid {
  margin: auto;
  border: 2px solid hsl(210, 80%, 30%);
  width: 480px;
  height: 480px;
  background-color: white;
  display: flex;
  flex-wrap: wrap;
}

.gridDiv {
  box-sizing: border-box;
  border: 1px solid hsl(210, 50%, 90%);
  flex-shrink: 0;
}